.active {
    background-color: blue !important;
    color: white !important;
}

.dayItem {
    width: 40px;
    background-color: aliceblue;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: gray;
}